<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Guess Fun - main</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="./stylesheets/bootstrap.css" rel="stylesheet">
    <link href="./stylesheets/bootstrap-responsive.css" rel="stylesheet">
    <link href="./stylesheets/docs.css" rel="stylesheet">
    <link href="./js/google-code-prettify/prettify.css" rel="stylesheet">
	<link href="./stylesheets/image-drag-area.css" rel="stylesheet">


    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="./ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="./ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="./ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="./ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="./ico/favicon.png">
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar" style="padding-top:0px;">

    <!-- Navbar
    ================================================== -->

    <div class="navbar navbar-inverse navbar-fixed-top">

	  <div id="logo" style="margin:0px auto;width:400px;z-index:9999;position:fixed;left:10%;right:10%;overflow:hidden;">
		<a href="#">
			<img src="./img/nav_logo.png" alt="logo"/>
		</a>
	  </div>

      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="./logout">logout</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a href="./index.html">Home</a>
              </li>
              <li class="">
                <a href="./getting-started.html">Get started</a>
              </li>
				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
				  <ul class="dropdown-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li class="divider"></li>
					<li class="nav-header">Nav header</li>
					<li><a href="#">Separated link</a></li>
					<li><a href="#">One more separated link</a></li>
				  </ul>
				</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Scaffolding</h1>
    <p class="lead">Bootstrap is built on responsive 12-column grids, layouts, and components.</p>
  </div>
</header>

  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#uploadImage"><i class="icon-chevron-right"></i>Upload Image</a></li>
          <li><a href="#chooseEffect"><i class="icon-chevron-right"></i>Choose Effect</a></li>
          <li><a href="#question"><i class="icon-chevron-right"></i>Question</a></li>
          <li><a href="#responsive"><i class="icon-chevron-right"></i>Responsive</a></li>
        </ul>
      </div>
      <div class="span9">

        <!-- Grid system
        ================================================== -->
        <section id="uploadImage">
          <div class="page-header">
            <h1>Upload your image</h1>
          </div>

			<br/>
			<br/>
			<!-- Upload image area -->
			<div id="upload-image-area"></div>

			<br/>
			<br/>			<br/>
			<br/>			<br/>
			<br/>			<br/>
			<br/>			<br/>
			<br/>
		</section>

        <!-- Choose Effect System
        ================================================== -->
        <section id="chooseEffect">

        	<!-- Title Header -->
          	<div class="page-header">
            	<h1>Choose Effect System</h1>
          	</div>

        	<!-- Effect Button -->
			<div class="btn-group">
			  <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">
			    Effect
			    <span class="caret"></span>
			  </a>
			  <ul class="dropdown-menu">
			    <!-- dropdown menu links -->
				<li><a href="#fading">Fading</a></li>
				<li><a href="#moving">Moving</a></li>
				<li><a href="#irregulating">irregulating</a></li>
			  </ul>
			</div>
			<button class="btn" type="button">Preview</button>

			<!-- Uploaded Image Zone  -->
          	<div id="uploadedImageZone"></div>
			<br/>
			<br/>
			<br/>
			<br/>
		</section>

        <!-- Question
        ================================================== -->
        <section id="question">
          <div class="page-header">
            <h1>Question</h1>
          </div>
			<br/>
			<br/>
			<div>sakfsalfjslc</div>
			<br/>			<br/>
			<br/>			<br/>
			<br/>			<br/>
			<br/>			<br/>
			<br/>
		</section>

        <!-- Responsive
        ================================================== -->
        <section id="responsive">
          <div class="page-header">
            <h1>Responsive design</h1>
          </div>
			<br/>
			<br/>
			<div>sakfsalfjslc</div>
			<br/>
			<br/>			<br/>
			<br/>			<br/>
			<br/>			<br/>
			<br/>			<br/>
			<br/>
			<br/>
			<br/>			<br/>
			<br/>			<br/>
			<br/>			<br/>
			<br/>			<br/>
			<br/>
			<br/>
			<br/>			<br/>
			<br/>			<br/>
			<br/>			<br/>
			<br/>			<br/>
			<br/>
			<br/>
			<br/>			<br/>
			<br/>			<br/>
			<br/>			<br/>
			<br/>			<br/>
			<br/>

		</section>

      </div>
    </div>

  </div>



    <!-- Footer
    ================================================== -->
    <footer class="footer">
      <div class="container">
        <p>Designed and built with all the love in the world by <a href="http://twitter.com/mdo" target="_blank">@mdo</a> and <a href="http://twitter.com/fat" target="_blank">@fat</a>.</p>
        <p>Code licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
        <p><a href="http://glyphicons.com">Glyphicons Free</a> licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
        <ul class="footer-links">
          <li><a href="http://blog.getbootstrap.com">Blog</a></li>
          <li class="muted">&middot;</li>
          <li><a href="https://github.com/twitter/bootstrap/issues?state=open">Issues</a></li>
          <li class="muted">&middot;</li>
          <li><a href="https://github.com/twitter/bootstrap/blob/master/CHANGELOG.md">Changelog</a></li>
        </ul>
      </div>
    </footer>



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="./js/jquery.js"></script>
    <script src="./js/bootstrap-transition.js"></script>
    <script src="./js/bootstrap-alert.js"></script>
    <script src="./js/bootstrap-modal.js"></script>
    <script src="./js/bootstrap-dropdown.js"></script>
    <script src="./js/bootstrap-scrollspy.js"></script>
    <script src="./js/bootstrap-tab.js"></script>
    <script src="./js/bootstrap-tooltip.js"></script>
    <script src="./js/bootstrap-popover.js"></script>
    <script src="./js/bootstrap-button.js"></script>
    <script src="./js/bootstrap-collapse.js"></script>
    <script src="./js/bootstrap-carousel.js"></script>
    <script src="./js/bootstrap-typeahead.js"></script>
    <script src="./js/bootstrap-affix.js"></script>
    <script src="./js/holder/holder.js"></script>
    <script src="./js/google-code-prettify/prettify.js"></script>
    <script src="./js/application.js"></script>

	<!-- Add by frank -->
    <script src="./js/pixastic.custom.js"></script>
    <script src="./js/main.js"></script>
 	<script src="./js/imageDisplay.js"></script>
	<script src="./js/jquery-image-dragged-area.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){

			// Upload Image controll
			$("#upload-image-area").imagesDraggedArea();

			// Effect choose control
			$("#chooseEffect > .btn-group > ul li a").click(function(){

				console.log(this);
				console.log($(this))
				console.log($(this).attr("href"));

			});

		})
	</script>

  </body>
</html>
